<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>PiFace WiFi Setup</title>
    <script src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/index.js"></script>
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container pt-4">
      <div class="alert alert-primary" role="alert">
        Configure WiFi
      </div>
      <form action="/set_wifi" method="post">
        <div class="form-group">
          <label for="ssid">SSID</label>
          <select class="form-control" name="ssid" id="ssid">
            {% for ap in ap_list %}
              <option>{{ ap }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="password" required>
        </div>
        <div class="m-3 p-3 text-center">
          <a class="btn btn-secondary" href="/" role="button">Cancel</a>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
